
*{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Poiret One', cursive;

    font-size: 1.15em;
    
    


}


body{
    background-image: url(/Imagens/fundoblackpantherborrado.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  

h1{
    font-family: 'MonteCarlo', cursive;
    display:flex;
    background-color: rgba(0,0,0, 0.8);
    width: 80%;
    color:white;
    font-variant: normal;
    font-weight: 200;
    font-size: 4.3em;
    /* -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:white; */
    justify-content: center;
    margin:auto;
    margin-top: 30px;
    padding: 20px;


}

.textoprincipal
{
    display: flex;
     margin: auto;

    flex-direction: column ;
    justify-content: center; 
    
    
    background-color: rgba(0,0,0, 0.8);
    color: white;
    padding: 2em;
    
width: 80%;
padding: 20px;
text-align:justify;

}

.textoprincipal p{

    text-indent: 0.5em;
}
.textodeescolha
{
    
    display: flex;
     margin: auto;

    flex-direction: column ;
    justify-content: center; 
    
    
    background-color: rgba(0,0,0, 0.8);
    color: white;
    padding: 2em;
    
width: 80%;
padding: 20px;
text-align:center;
font-size: 1.5em;
font-variant: small-caps;

}

.facasuaescolha{
    display: flex;
    margin: auto;

   flex-direction: column ;
   justify-content: center; 
   
   
   background-color: rgba(0,0,0, 0.8);
   color: white;
   padding: 2em;
   
width: 80%;
padding: 20px;
text-align:center;
font-size: 1.5em;
font-variant: small-caps;
margin-bottom: 30px;


}



.escolhapersonagens
{

    display: flex;
    flex-direction: row;
    
    
    margin: auto;
   

   
    width: 80%;
    padding: 20px;
   background-color: rgba(0,0,0, 0.8);


   justify-content: space-around;
   margin-bottom: 30px;
}

.botaodeescolhapersonagem{
   
    background-color: rgba(255, 255, 255);
    color: black;
    width: 200px;
    height: 5em;
    padding: 0.2em;
    justify-items: center;
    margin-top: 5px;
    text-align: center;
    font-size: 1em;
border:white solid;
cursor: pointer;
 
}
.botaodeescolhapersonagem:hover{
    background-color: rgba(0,0,0, 0.5);
     color:white;
}

.fotopersonagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}




.fotopersonagem img{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
     height: 100%;
     
    justify-items: center;
    max-width: 175px;
    max-height: 175px;

    
}
.fotopersonagem img:hover{
  transform: scale(1.2); }
   
.botaoscript{
 
    background-color: rgba(255, 255, 255);
    color: black;
    width: auto;
    height: 2em;
    padding: 0.2em;
  

    font-size: 1em;

cursor: pointer;
}
.botaoscript:hover{
    background-color: rgba(0,0,0, 0.5);
     color:white;
}

@media (max-width: 700px){

    .escolhapersonagens{
        flex-direction: column;
        
    }
    .fotopersonagem{
      
        margin-bottom: 1.5em;
    }

    h1{

        font-size: 2.5em;
    }
}